@charset "UTF-8";
.page {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.banner {
  height: 150px;
  min-width: 480px;
  margin: 0 0 auto;
  background-color: #011827;
  color: #FFFFFF;
}

.logo {
  position: absolute;
  margin-left: 25px;
  margin-top: 25px;
}

.heading {
  display: inline-block;
  position: absolute;
  margin-top: 23px;
  margin-left: 168px;
  font-style: normal;
  font-size: 25px;
  line-height: 1.1em;
  width: 80px;
}

.navBar {
  display: none;
}

/*---------------------------------*/
.hero {
  max-width: 100%;
  min-width: 480px;
  height: auto;
}

.relocateArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.7em 5.7vw;
}

.bigButton {
  height: 70px;
  width: 295px;
  font-size: 23px;
}

/*----button desktop version (display none for mobile version)*/
.bigButton_colour_red {
  display: none;
  background-color: #E3170A;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  font-weight: bold;
}

.bigButton_colour_blue {
  background-color: #8ACFE5;
  color: #011827;
  border: none;
  border-radius: 4px;
  font-weight: bold;
}

.linkOnline {
  margin-top: 1.5em;
  color: #36769D;
  font-weight: bold;
}

/*----lower section:-----*/
.feedback.feedback_user_two {
  display: none;
}

.feedback {
  margin-top: 2.5em;
  display: inline-block;
}

.feedback__picture {
  height: 78px;
  width: auto;
  margin-left: 4vw;
  margin-right: 4vW;
  margin-bottom: 102px;
  float: inline-start;
}

.feedback__text {
  font-style: italic;
  font-size: 23px;
  margin-top: 0;
  margin-right: 7.5vw;
  margin-bottom: 0;
  line-height: 1.2em;
}

.feedback__note {
  margin-top: 0.19em;
  font-size: large;
}

.challengeSection__headline {
  font-size: 32px;
  font-weight: normal;
  text-align: center;
  margin-top: 1.29em;
  margin-bottom: 1.29em;
}

.challengeContainer {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scrollbar-width: none;
  margin-left: 3vw;
}

.challengeContainer::-webkit-scrollbar {
  display: none;
}

.challengeCard {
  min-width: 75vW;
  margin-left: 7.2vw;
  margin-right: 1vw;
  height: fit-content;
  margin-bottom: 1.3em;
  border-radius: 7px;
  box-shadow: 0 1px 8px 0 #B6BDB5, 0 4px 8px 0 #B6BDB5;
}

.challengeCard__image {
  max-width: 100%;
  height: auto;
  border-radius: 7px 7px 0 0;
}

.challengeCard__title {
  font-size: 28px;
  font-weight: normal;
  margin-top: 0.12em;
  margin-bottom: 0;
  margin-left: 4%;
}

.rating {
  display: flex;
  align-items: center;
  line-height: 18px;
  margin-left: 4%;
  margin-right: 4%;
}

.rating__star {
  color: #E3170A;
  font-size: 25px;
  margin-right: 0.57vw;
}

.rating__star_first {
  margin-left: 0;
}

.rating__star_last {
  height: 15px;
  width: auto;
  margin-right: 0.75vw;
}

.rating__text {
  font-size: 14px;
  margin-left: 0.5vw;
}

.challengeCard__text {
  margin-left: 4%;
  margin-right: 4%;
  font-size: 18px;
  line-height: 1.2em;
}

.challengeButton {
  display: flex;
  justify-content: flex-end;
}

.challengeButton__small {
  height: 47px;
  width: 175px;
  margin-bottom: 3.5%;
  margin-right: 4%;
  font-size: 15px;
  background-color: #E3170A;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  font-weight: bold;
}

.story {
  height: 500px;
  min-width: 480px;
  margin: 1.8em 0 auto;
  background-color: #011827;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  font-weight: normal;
}

.story__text {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 80px;
  line-height: 1.2em;
}

.bigButton_colour_dark {
  background-color: #011827;
  color: #8ACFE5;
  border-style: solid;
  border-color: #8ACFE5;
  border-radius: 4px;
  font-weight: bold;
}

.containerImg {
  display: flex;
  flex-direction: column;
}

.imgThreeHacker,
.imgTwoHacker {
  max-width: 100%;
  min-width: 480px;
  height: auto;
}

.containerSection {
  margin-top: 1.57em;
}

.containerSection__title {
  font-size: 30px;
  margin-top: 0;
  margin-left: 4vw;
  margin-right: 6vw;
  line-height: 1.2em;
}

.containerSection__text {
  font-size: 24px;
  margin-left: 4vw;
  margin-right: 4vw;
  line-height: 1.2em;
}

.bigButton_type_containerSection {
  background-color: #E3170A;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  margin: 1em auto 3em 4vw;
}

.sideFooter {
  height: fit-content;
  min-width: 480px;
  margin: 1.5rem 0 auto;
  padding-left: 4vw;
  padding-top: 2em;
  padding-bottom: 4em;
  background-color: #011827;
  color: #FFFFFF;
  font-size: 18px;
}

.escSideFooter__title,
.mapSideFooter__title,
.followSideFooter__title {
  margin-top: 2em;
  margin-bottom: 0.4em;
  font-size: 18px;
}

.escSideFooter__text {
  margin-top: 0;
  max-width: 91%;
  line-height: 1.2em;
}

.map,
.follow {
  list-style: none;
  margin-top: 0px;
  margin-left: 0px;
  padding: 0px;
}

.map__link,
.follow__link {
  display: block;
  color: #FFFFFF;
  text-decoration: none;
  line-height: 1.2em;
}

.map__item:nth-child(3) {
  margin-bottom: 1.2em;
}

/*---------------------------------------------------------------------------------*/
@media screen and (min-width: 503px) {
  .feedback__text {
    max-width: 460px;
  }
}
@media screen and (min-width: 535px) {
  /*-----popular challenges---------*/
  .challengeCard__text {
    margin-right: 4%;
  }
  .challengeCard {
    min-width: 370px;
    margin-left: 1.9%;
    margin-right: 1.9%;
  }
}
@media screen and (min-width: 539px) {
  /*-----user recommendation-------*/
  .feedback__text {
    max-width: 480px;
  }
  .recommendation {
    display: flex;
    margin-top: 3vw;
    align-items: center;
    justify-content: center;
  }
  /*-----popular challenges---------*/
  .challengeSection__headline {
    margin-top: 0.5em;
  }
  /*-----future grid to be------*/
  .containerSection {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
  }
  .containerSection__title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    line-height: 1.1em;
  }
  .containerSection__text {
    font-size: 24px;
    margin: 1em 0;
    line-height: 1.1em;
  }
  .bigButton_type_containerSection {
    margin: 0.5em 0 2em 0;
  }
}
@media screen and (min-width: 563px) {
  /*-----user recommendation-------*/
  .feedback__text {
    max-width: 530px;
  }
}
@media screen and (min-width: 650px) {
  /*-----popular challenges---------*/
  .challengeSection__headline {
    margin-top: 0;
  }
  /*------full story-----*/
  .story__text {
    margin-left: 12%;
    margin-right: 12%;
  }
  /*-----future grid to be------*/
  .containerSection {
    margin-left: 12%;
    margin-right: 12%;
  }
}
@media screen and (min-width: 750px) {
  /*------popular challenges-------*/
  .challengeCard {
    margin-right: 4%;
  }
}
@media screen and (min-width: 765px) {
  /*------popular challenges-------*/
  .challengeCard {
    margin-left: 4%;
  }
}
@media screen and (min-width: 800px) {
  /*------image mobile-----*/
  .hero {
    display: none;
  }
  /*------Background-image desktop-- --*/
  header::before {
    content: "";
    background-image: url("hacker-one.png");
    background-repeat: no-repeat;
    /*background-position: center;*/
    /*kolla designen om detta ska användas eller ej*/
    background-size: cover;
    position: absolute;
    top: 85px;
    left: 0px;
    z-index: -1;
    height: 600px;
    width: 100%;
  }
  /*--------button section-------------*/
  .relocateArea {
    flex-direction: row;
    justify-content: center;
    /* align-items: normal;*/
  }
  .relocateArea_first {
    margin: 500px 0 0 0;
  }
  /*for desktop version*/
  .relocateArea_second {
    margin-top: 50px;
    margin-bottom: 70px;
  }
  .bigButton_colour_red {
    display: unset;
    background-color: #E3170A;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-weight: bold;
  }
  .bigButton_colour_blue {
    margin-left: 1em;
  }
  /*---link to online challenges mobile version display none for desktop version)----*/
  .linkOnline {
    display: none;
  }
  /*------popular challenges-------*/
  .challengeCard {
    margin-right: 4.5%;
    margin-left: 4.5%;
  }
}
@media screen and (min-width: 815px) {
  /*------popular challenges-------*/
  .challengeCard {
    margin-right: 4%;
  }
  .challengeContainer {
    margin-left: 4vw;
  }
}
@media screen and (min-width: 820px) {
  /*-------pupular challenges------*/
  .challengeCard {
    min-width: 400px;
  }
  .rating__text {
    margin-left: auto;
    margin-right: 0;
  }
}
@media screen and (min-width: 893px) {
  /*-----popular challenges-----*/
  .challengeContainer {
    margin-left: 3vw;
  }
  .challengeCard {
    min-width: 370px;
    margin-right: 1.9%;
    margin-left: 1.9%;
  }
}
@media screen and (min-width: 935px) {
  /*-----user recommendation-------*/
  .feedback.feedback_user_two {
    display: unset;
  }
  .feedback__picture {
    margin-right: 2vw;
    margin-left: 0;
  }
  .feedback__text {
    max-width: 410px;
    margin-right: 0;
  }
  .feedback__note {
    height: fit-content;
    width: 450px;
    margin-top: 0.8em;
  }
}
/*---------------------------------------------------------------------------------*/
@media screen and (min-width: 1000px) {
  .banner {
    height: 210px;
  }
  .heading {
    display: inline;
    width: initial;
    max-width: fit-content;
    margin-top: 60px;
    font-size: 40px;
  }
  /*-------Navigation bar Desktop------*/
  .navBar {
    display: block;
    text-align: center;
    align-items: center;
    margin-top: 0;
    background-color: #011827;
    padding-top: 8.5em;
  }
  .navList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 14%;
    padding-right: 14%;
  }
  .navList__item {
    display: inline-flex;
    justify-content: space-between;
    list-style-type: none;
  }
  .navList__link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
    position: relative;
  }
  .navList__link:hover {
    color: #8ACFE5;
  }
  /*--------button section-------------*/
  .relocateArea_first {
    margin: 440px 0 0 0;
  }
  /*-----full story----------------*/
  .story__text {
    padding-top: 130px;
    max-width: 45%;
    margin-left: 27.5%;
    margin-right: 27.5%;
  }
  /*-----grid----------------------*/
  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin-bottom: 13vh;
  }
  .containerImg_type_threeHacker {
    grid-column: 1/7;
    grid-row: 1/7;
  }
  .containerSection_type_bookToday {
    grid-column: 7/13;
    grid-row: 1/7;
  }
  .containerImg_type_twoHacker {
    grid-column: 7/13;
    grid-row: 7/13;
  }
  .containerSection_type_allChallenges {
    grid-column: 1/7;
    grid-row: 7/13;
  }
  .containerSection {
    align-items: left;
    margin-top: 0;
    margin-left: 5%;
    margin-right: 5%;
  }
  .containerSection__text {
    margin-top: 0.7em;
    line-height: 1.1em;
  }
  .bigButton_type_containerSection {
    margin: 0;
  }
  /*------sidefooter grid---------------------*/
  .sideFooter {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 1fr);
    padding: 0;
  }
  .escSideFooter {
    grid-column: 2/6;
    grid-row: 3/6;
  }
  .mapSideFooter {
    grid-column: 8/9;
    grid-row: 3/6;
  }
  .followSideFooter {
    grid-column: 10/11;
    grid-row: 3/6;
  }
  .escSideFooter__title,
  .mapSideFooter__title,
  .followSideFooter__title {
    margin-top: 0;
  }
  .escSideFooter__text {
    max-width: 96%;
  }
}
@media screen and (min-width: 1052px) {
  /*-----grid-------*/
  .containerSection {
    margin-left: 8%;
    margin-right: 8%;
  }
}
@media screen and (min-width: 1066px) {
  /*-----grid-------*/
  .containerSection {
    margin-left: 9%;
    margin-right: 9%;
  }
}
@media screen and (min-width: 1100px) {
  /*-----grid-------*/
  .containerSection {
    margin-left: 11%;
    margin-right: 11%;
  }
}
@media screen and (min-width: 1174px) {
  /*-----grid-------*/
  .containerSection {
    margin-left: 13%;
    margin-right: 13%;
  }
}
@media screen and (min-width: 1245px) {
  /*-----grid-------*/
  .containerSection {
    margin-left: 16.8%;
    margin-right: 16.8%;
  }
}
