/*-----variables----------------------------*/
/*------border-radius--*/
$s-radius: 4px;
$l-radius: 7px;
$mix-radius: 7px 7px 0 0;

/*------colour---------*/
$colour-one: #E3170A;
$colour-two: #8ACFE5;
$colour-three: #36769D;
$colour-four: #011827;
$colour-five: #B6BDB5;
$colour-six: #FFFFFF;

/*------font-family----*/
$font-one: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

/*------font-size------*/
$xs-font: 18px;
$s-font: 23px;
$sm-font: 24px;
$m-font: 25px;
$ml-font: 28px;
$l-font: 30px;

/*------font-weight----*/
$normal-font: normal;
$bold-font: bold;

/*------line-height----*/
$spec1-height: 18px;
$rel1-height: 1.1em;
$rel2-height: 1.2em;

/*------min-width------*/
$spec1-width: 370px;
$spec2-width: 400px;
$spec3-width: 480px;
$rel1-width: 75vw;

/*------mixin--------------------------------*/
/*------button---------*/
@mixin area-relocate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin banner1 {
    height: 150px;
    min-width: $spec3-width;
    background-color: $colour-four;
    color: $colour-six;
}

@mixin big-button {
    height: 70px;
    width: 295px;
    font-size: $s-font;
}

@mixin button-style1 {
    background-color: $colour-one;
    color: $colour-six;
    border: none;
    border-radius: $s-radius;
    font-weight: $bold-font;
}

@mixin button-style2 {
    background-color: $colour-two;
    color: $colour-four;
    border: none;
    border-radius: $s-radius;
    font-weight: $bold-font;
}

@mixin button-style3 {
    background-color: $colour-four;
    color: $colour-two;
    border-style: solid;
    border-color: $colour-two;
    border-radius: $s-radius;
    font-weight: $bold-font;
}

@mixin card-one {
    height: fit-content;
    min-width: $rel1-width;
    border-radius: $l-radius;
}

@mixin card-img1 {
    height: auto;
    max-width: 100%;
    border-radius: $mix-radius;
}

@mixin card-title1 {
    font-size: $ml-font;
    font-weight: $normal-font;
}

@mixin card-text1 {
    font-size: $xs-font;
    line-height: $rel2-height;
}

@mixin feedb-picture {
    height: 78px;
    width: auto;
}

@mixin feedb-text {
    font-style: italic;
    font-size: $s-font;
    line-height: $rel2-height;
}

@mixin footer1 {
    padding-top: 2em;
    padding-bottom: 4em;
    padding-left: 4vw;
    height: fit-content;
    min-width: $spec3-width;
    background-color: $colour-four;
    color: $colour-six;
    font-size: $xs-font;
}

@mixin footer-title1 {
    margin-top: 2em;
    margin-bottom: 0.4em;
    font-size: 18px;
}

@mixin hacker {
    height: auto;
    max-width: 100%;
    min-width: $spec3-width;
}

@mixin heading1 {
    font-style: normal;
    font-size: $m-font;
    line-height: $rel1-height;
}

@mixin hero {
    height: auto;
    max-width: 100%;
    min-width: $spec3-width;
}

@mixin link-style1 {
    color: $colour-three;
    font-weight: $bold-font;
}

@mixin link-style2 {
    color: $colour-six;
    text-decoration: none;
    line-height: $rel2-height;
}

@mixin link-style3 {
    color: $colour-six;
    text-decoration: none;
    font-size: 26px;
    font-weight: $bold-font;
}

@mixin list-type1 {
    list-style: none;
    padding: 0px;
}

@mixin list-type2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 14%;
    padding-left: 14%;
}

@mixin liste-item1 {
    display: inline-flex;
    justify-content: space-between;
    list-style-type: none;
}

@mixin nav1 {
    display: block;
    text-align: center;
    align-items: center;
    background-color: $colour-four;
}

@mixin scroll-cont1 {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scrollbar-width: none;
}

@mixin section-headline1 {
    font-size: 32px;
    font-weight: $normal-font;
    text-align: center;
}

@mixin shadow-one {
    box-shadow: 0 1px 8px 0 $colour-five, 0 4px 8px 0 $colour-five;
}

@mixin small-button {
    height: 47px;
    width: 175px;
    font-size: 15px;
}

@mixin star1 {
    color: $colour-one;
    font-size: $m-font;
}

@mixin star2 {
    height: 15px;
    width: auto;
}

@mixin story-font1 {
    font-size: $ml-font;
    font-weight: $normal-font;
}

@mixin story-type1 {
    height: 500px;
    min-width: $spec3-width;
    background-color: $colour-four;
    color: $colour-six;
    text-align: center;
}






.page {
    margin: 0;
    font-family: $font-one;
}

.banner {
    margin: 0 0 auto;
    @include banner1;
}

.logo {
    margin-top: 25px;
    margin-left: 25px;
    position: absolute;
}

.heading {
    margin-top: 23px;
    margin-left: 168px;
    display: inline-block;
    position: absolute;
    width: 80px;
    @include heading1;
}

.navBar {
    display: none;
}

/*---------------------------------*/
.hero {
    @include hero;
}

.relocateArea {
    margin: 1.7em 5.7vw;
    @include area-relocate;
}

.bigButton_colour_red {
    display: none;
    @include big-button;
    @include button-style1;
}

.bigButton_colour_blue {
    @include big-button;
    @include button-style2;
}

.linkOnline {
    margin-top: 1.5em;
    @include link-style1;
}

/*----lower section:-----*/

.feedback {
    margin-top: 2.5em;
    display: inline-block;

    &__picture {
        margin: 0 4vw 102px 4vw;
        float: inline-start;
        @include feedb-picture;
    }

    &__text {
        margin: 0 7.5vw 0;
        @include feedb-text;
    }

    &__note {
        margin-top: 0.19em;
        font-size: large;
    }
}

.feedback_user_two {
    display: none;
}

.challengeSection {
    &__headline {
        margin: 1.29em;
        @include section-headline1;
    }
}

.challengeContainer {
    margin-left: 3vw;
    @include scroll-cont1;

    &::-webkit-scrollbar {
        display: none;
    }
}

.challengeCard {
    margin-right: 1vw;
    margin-bottom: 1.3em;
    margin-left: 7.2vw;
    @include card-one;
    @include shadow-one;

    &__image {
        @include card-img1;
    }

    &__title {
        margin-top: 0.12em;
        margin-bottom: 0;
        margin-left: 4%;
        @include card-title1;
    }

    &__text {
        margin-left: 4%;
        margin-right: 4%;
        @include card-text1;
    }
}

.rating {
    margin-left: 4%;
    margin-right: 4%;
    display: flex;
    align-items: center;
    line-height: $spec1-height;

    &__star {
        margin-right: 0.57vw;
        @include star1;
    }

    &__star_first {
        margin-left: 0;
    }

    &__star_last {
        margin-right: 0.75vw;
        @include star2;
    }

    &__text {
        margin-left: 0.5vw;
        font-size: 14px;
    }
}

.challengeButton {
    display: flex;
    justify-content: flex-end;

    &__small {
        margin-bottom: 3.5%;
        margin-right: 4%;
        @include button-style1;
        @include small-button;
    }
}

.story {
    margin: 1.8em 0 auto;
    @include story-type1;
    @include story-font1;

    &__text {
        margin: 0 5vw 50px 5vw;
        padding-top: 80px;
        line-height: $rel2-height;
    }
}

.bigButton_colour_dark {
    @include big-button;
    @include button-style3;
}

.containerImg {
    display: flex;
    flex-direction: column;
}

.imgThreeHacker {
    @include hacker;
}

.imgTwoHacker {
    @include hacker;
}

.containerSection {
    margin-top: 1.57em;

    &__title {
        margin-top: 0;
        margin-right: 6vw;
        margin-left: 4vw;
        font-size: $l-font;
        line-height: $rel2-height;
    }

    &__text {
        margin-left: 4vw;
        margin-right: 4vw;
        font-size: $sm-font;
        line-height: $rel2-height;
    }
}

.bigButton_type_containerSection {
    margin: 1em auto 3em 4vw;
    @include big-button;
    @include button-style1;
}

.sideFooter {
    margin: 1.5rem 0 auto;
    @include footer1;

    &__title {
        @include footer-title1;
    }

    &__text {
        margin-top: 0;
        max-width: 91%;
        line-height: $rel2-height;
    }
}

.mapSideFooter {
    &__title {
        @include footer-title1;
    }
}

.map {
    margin-top: 0;
    margin-left: 0;
    @include list-type1;

    &__link {
        display: block;
        @include link-style2;
    }

    &__item {
        &:nth-child(3) {
            margin-bottom: 1.2em;
        }
    }
}

.followSideFooter {
    &__title {
        @include footer-title1;
    }
}

.follow {
    margin-top: 0;
    margin-left: 0;
    @include list-type1;

    &__link {
        display: block;
        @include link-style2;
    }
}


/*---------------------------------------------------------------------------------*/
@media screen and (min-width:503px) {
    .feedback {
        &__text {
            max-width: 460px;
        }
    }
}

@media screen and (min-width: 535px) {

    /*-----popular challenges---------*/
    .challengeCard {
        min-width: $spec1-width;
        margin-right: 1.9%;
        margin-left: 1.9%;

        &__text {
            margin-right: 4%;
        }
    }
}

@media screen and (min-width:539px) {

    /*-----user recommendation-------*/
    .feedback {
        &__text {
            max-width: 480px;
        }
    }

    .recommendation {
        margin-top: 3vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /*-----popular challenges---------*/
    .challengeSection {
        &__headline {
            margin-top: 0.5em;
        }
    }


    /*-----future grid to be------*/
    .containerSection {
        margin-right: 5%;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
       
        &__title {
            margin: 0 0;
            font-size: $l-font;
            line-height: $rel1-height;
        }

        &__text {
            margin: 1em 0;
            font-size: $sm-font;
            line-height: $rel1-height;
        }
    }

    .bigButton_type_containerSection {
        margin: 0.5em 0 2em 0;
    }
}

@media screen and (min-width:563px) {

    /*-----user recommendation-------*/
    .feedback {
        &__text {
            max-width: 530px;
        }
    }
}

@media screen and (min-width:650px) {

    /*-----popular challenges---------*/
    .challengeSection {
        &__headline {
            margin-top: 0;
        }
    }

    /*------full story-----*/
    .story {
        &__text {
            margin-right: 12%;
            margin-left: 12%;
        }
    }

    /*-----future grid to be------*/
    .containerSection {
        margin-right: 12%;
        margin-left: 12%;
    }
}

@media screen and (min-width: 750px) {

    /*------popular challenges-------*/
    .challengeCard {
        margin-right: 4%
    }
}

@media screen and (min-width: 765px) {

    /*------popular challenges-------*/
    .challengeCard {
        margin-left: 4%;
    }
}

@media screen and (min-width:800px) {

    /*------image mobile-----*/
    .hero {
        display: none;
    }

    /*------Background-image desktop-- --*/
    .header::before {
        content: "";
        height: 600px;
        width: 100%;
        background-image: url("hacker-one.png");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 85px;
        left: 0px;
        z-index: -1;
    }

    /*--------button section-------------*/
    .relocateArea {
        flex-direction: row;
        justify-content: center;
    }

    .relocateArea_first {
        margin: 500px 0 0 0;
    }

    .relocateArea_second {
        margin-top: 50px;
        margin-bottom: 70px;
    }

    .bigButton_colour_red {
        display: unset;
    }

    .bigButton_colour_blue {
        margin-left: 1em;
    }

    /*---link to online challenges mobile version display none for desktop version)----*/
    .linkOnline {
        display: none;
    }

    /*------popular challenges-------*/
    .challengeCard {
        margin-right: 4.5%;
        margin-left: 4.5%;
    }
}

@media screen and (min-width: 815px) {

    /*------popular challenges-------*/
    .challengeCard {
        margin-right: 4%
    }

    .challengeContainer {
        margin-left: 4vw;
    }
}

@media screen and (min-width: 820px) {

    /*-------pupular challenges------*/
    .challengeCard {
        min-width: $spec2-width;
    }

    .rating {
        &__text {
            margin-right: 0;
            margin-left: auto;
        }
    }
}

@media screen and (min-width:893px) {

    /*-----popular challenges-----*/
    .challengeContainer {
        margin-left: 3vw;
    }

    .challengeCard {
        margin-right: 1.9%;
        margin-left: 1.9%;
        min-width: $spec1-width;
    }
}

@media screen and (min-width:935px) {

    /*-----user recommendation-------*/
    .feedback.feedback_user_two {
        display: unset;
    }

    .feedback {
        &__picture {
            margin-right: 2vw;
            margin-left: 0;
        }

        &__text {
            margin-right: 0;
            max-width: 410px;
        }

        &__note {
            margin-top: 0.8em;
            height: fit-content;
            width: 450px;
        }
    }
}

/*---------------------------------------------------------------------------------*/
@media screen and (min-width:1000px) {
    .banner {
        height: 210px;
    }

    .heading {
        display: inline;
        margin-top: 60px;
        width: initial;
        max-width: fit-content;
        font-size: 40px;
    }

    /*-------Navigation bar Desktop------*/
    .navBar {
        margin-top: 0;
        padding-top: 8.5em;
        @include nav1;
    }

    .navList {
        @include list-type2;

        &__item {
            @include liste-item1;
        }

        &__link {
            position: relative;
            @include link-style3;
        }

        &__link:hover {
            color: $colour-two;
        }
    }

    /*--------button section-------------*/
    .relocateArea_first {
        margin: 440px 0 0 0;
    }

    /*-----full story----------------*/
    .story{
        &__text {
        margin-right: 27.5%;
        margin-left: 27.5%;
        max-width: 45%;
        padding-top: 130px;
    }
}

    /*-----grid----------------------*/
    .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        margin-bottom: 13vh;
    }

    .containerImg_type_threeHacker {
        grid-column: 1/7;
        grid-row: 1/7;
    }

    .containerSection_type_bookToday {
        grid-column: 7/13;
        grid-row: 1/7;
    }

    .containerImg_type_twoHacker {
        grid-column: 7/13;
        grid-row: 7/13;
    }

    .containerSection_type_allChallenges {
        grid-column: 1/7;
        grid-row: 7/13;
    }

    .containerSection {
        margin-top: 0;
        margin-right: 5%;
        margin-left: 5%;
        align-items: left;

        &__text {
            margin-top: 0.7em;
            line-height: $rel1-height;
        }
    }

    .bigButton_type_containerSection {
        margin: 0;
    }

    /*------sidefooter grid---------------------*/
    .sideFooter {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(7, 1fr);
        padding: 0;
    }

    .escSideFooter {
        grid-column: 2/6;
        grid-row: 3/6;

        &__title {
            margin-top: 0;
        }

        &__text {
            max-width: 96%;
        }
    }

    .mapSideFooter {
        grid-column: 8/9;
        grid-row: 3/6;

        &__title {
            margin-top: 0;
        }
    }

    .followSideFooter {
        grid-column: 10/11;
        grid-row: 3/6;

        &__title {
            margin-top: 0;
        }
    }

}

@media screen and (min-width: 1052px) {

    /*-----grid-------*/
    .containerSection {
        margin-right: 8%;
        margin-left: 8%;
    }
}

@media screen and (min-width: 1066px) {

    /*-----grid-------*/
    .containerSection {
        margin-right: 9%;
        margin-left: 9%;
    }
}

@media screen and (min-width: 1100px) {

    /*-----grid-------*/
    .containerSection {
        margin-right: 11%;
        margin-left: 11%;
    }
}

@media screen and (min-width: 1174px) {

    /*-----grid-------*/
    .containerSection {
        margin-right: 13%;
        margin-left: 13%;
    }
}

@media screen and (min-width: 1245px) {

    /*-----grid-------*/
    .containerSection {
        margin-right: 16.8%;
        margin-left: 16.8%;
    }
}